.diffed-image {
    max-width: 100%
}

.comparison-placeholder {
    visibility: hidden;
    max-width: 100%;
}

div#comparison {
    display: inline-block;
    overflow: hidden;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
}

div#comparison figure {
    font-size: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
}

div#comparison figure > img {
    position: relative;
    width: 100%;
}

div#comparison figure div {
    position: absolute;
    width: 50%;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    bottom: 0;
    height: 100%;
    background-repeat: no-repeat;
}

div#divisor {
    background-color: #ffffff;
    background-size: cover;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    bottom: 0;
    background-color: rgba(52, 143, 219, 1);
    width: 100%;
    z-index: 9999999;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:active {
    outline: none;
}

input[type=range]::-moz-range-track {
    -moz-appearance: none;
    height: 15px;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    outline: none;
}

input[type=range]::active {
    border: none;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 15px;
    background: rgb(18, 68, 115);
    border-radius: 0;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    width: 20px;
    height: 15px;
    background: rgb(18, 68, 115);
    border-radius: 0;
}

input[type=range]:focus::-webkit-slider-thumb {
    background: rgba(255, 255, 255, 0.5);
}

input[type=range]:focus::-moz-range-thumb {
    background: rgba(255, 255, 255, 0.5);
}
